body{
    background-color: rgb(162, 216, 75);
}
h1{
    background-color: DarkSeaGreen;
}
#point{
    margin-left: 10px;
    font-size: 40px;
}
#temp{
    margin-right: 10px;
    font-size: 40px;
    float: right;
}
canvas{
    border: 1px solid black;
    border-radius: 65px;
    box-shadow: 2px 1px 3px 4px	#4F4F4F;
}